# ml-zoomcap introduction

### Q1. Pandas Version

What version of Pandas did you install?

You can get the version information using the __version__ field:

In [87]:
import pandas as pd
import numpy as np
print(f" Pandas Version: {pd.__version__}")

 Pandas Version: 2.3.3

## Getting the data

For this homework, we'll use the Car Fuel Efficiency dataset. Download it from here.

You can do it with wget:
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

Read the dataset

In [88]:
csv_path: str = "car_fuel_efficiency.csv"
df = pd.read_csv(csv_path)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2. Records count
- How many records are in the dataset?

In [89]:
print(f" Records in the dataset {len(df)}")

 Records in the dataset 9704

### Q3. Fuel Types
How many fuesl types are presented in the dataset?

In [90]:
print(f"Unique types of fule in the dataset {df['fuel_type'].unique()}")

Unique types of fule in the dataset ['Gasoline' 'Diesel']

### Q4. Missing Values
How many columns in the dataset have missing values?

In [91]:
# Create a series with the null values in each column
null_serie = df.isnull().sum()
print(f" Number of columns with missing values: {null_serie[null_serie.gt(0)].count()}")

 Number of columns with missing values: 4

## Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [104]:
print(f" Max fuel efficiency: {df[df['origin'].eq('Asia')]['fuel_efficiency_mpg'].max()}")

 Max fuel efficiency: 23.759122836520497

## Q6. Median value of horsepower

1. Find the median value of the horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.
- Has it changed?
    - Yes, it increased
    - Yes, it decreased
    - No

In [93]:
print(f"Median value of the horsepower column {df['horsepower'].median()}")
most_frequent_value = list(df['horsepower'].mode())[0]
print(f"The most frequent value of the horsepower column: {most_frequent_value}")
# Fill the missing values in the horsepower
df['horsepower'] = df['horsepower'].fillna(most_frequent_value)
print(f":{df['horsepower']}")
print(f"New media calculated witouth Na values: {df['horsepower'].median()}")

Median value of the horsepower column 149.0
The most frequent value of the horsepower column: 152.0
:0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64
New media calculated witouth Na values: 152.0

### Q7. Sum of weights
1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [94]:
df['origin']

0       Europe
1          USA
2       Europe
3          USA
4       Europe
         ...
9699    Europe
9700       USA
9701       USA
9702       USA
9703      Asia
Name: origin, Length: 9704, dtype: object

Select all cars from Asia

In [95]:
df_asian_cars = df.loc[df['origin'].eq('Asia')]
df_asian_cars.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

Select only columns vehicle_weight and model_year and get the first 7 values

In [96]:
df_asian_cars_wm = df_asian_cars[['vehicle_weight', 'model_year']]
df_seven_cars_values = df_asian_cars_wm.head(7)
df_seven_cars_values

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result

In [99]:
x = df_seven_cars_values.to_numpy()
xtx = np.dot(x.T, x)
xtx

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

- Invert XTX.
- Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [ ]:
# Invert a matrix
xtx_inv = np.linalg.inv(xtx)
# Create the Y array
y =  [1100, 1300, 800, 900, 1000, 1100, 1200]
# Multiply the inverse of the XTX with the transpose of x
result = np.dot(xtx_inv, x.T)
w = np.dot(result, y)
print(f'Resultado of w: {sum(w)}')

Resultado of w: 0.5187709081074016